@model DomainClasses.Models.Dashboard

<div>
    <div class="row">
        @foreach (DomainClasses.Models.Gadget item in Model.Dashboard_Gadgets.Select(g => g.Gadget))
        {
            <div class="col-lg-6">
                @Html.Partial(item.MenuAction)
            </div>
        }
    </div>
</div>
