@model DomainClasses.Models.Dashboard

<div>
    <div class="row">


        <div class="col-lg-12">
            @Html.Partial(Model.Dashboard_Gadgets.Select(g => g.Gadget).FirstOrDefault().MenuAction)
        </div>

    </div>
</div>
