@model DomainClasses.Models.Dashboard

<div>
    <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-default">
               
                <div class="panel-body">
                    <h1>Drag your gadgets here or</h1>
                     <h3>Add a new gadget.</h3>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
               
                <div class="panel-body">
                    <h1>Drag your gadgets here or</h1>
                     <h3>Add a new gadget.</h3>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </div>
</div>
