@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}


@*<select class="image-picker show-html">
  <option value="1" data-img-src="../../Images/One.PNG">  Page 1  </option>
    <option value="4" data-img-src="../../Images/Four.PNG">  Page 4  </option>
    <option value="5" data-img-src="../../Images/OneLeft.PNG">  Page 5  </option>
    <option value="2" data-img-src="../../Images/OneRight.PNG">  Page 2  </option>
  <option value="3" data-img-src="../../Images/Three.PNG">  Page 3  </option>

  
</select>*@

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Layout 
            </div>
            <div class="panel-body">
                <p>Choose dashboard layout</p> 
                <select class="image-picker show-html">
                <option value="1" data-img-src="../../Images/One.PNG">  Page 1  </option>

                <option value="1" data-img-src="../../Images/Four.PNG">  Page 1  </option>

                <option value="1" data-img-src="../../Images/OneLeft.PNG">  Page 1  </option>

                <option value="1" data-img-src="../../Images/OneRight.PNG">  Page 1  </option>

                <option value="1" data-img-src="../../Images/Three.PNG">  Page 1  </option>

                    </select>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>
</div>






@*<div>
    <div class="row">
        <div class="panel-heading">
            <div class="col-lg-3">
                <div class="panel panel-default">
                              
                    <div class="panel-body">                 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="col-lg-1">
            <div class="panel panel-default">
                               
                    <div class="panel-body">                 
                    </div>
                </div>

        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                             
                    <div class="panel-body">                 
                    </div>
                </div>
        </div>
    </div>
    <div>
        <div class="panel-heading">
            <div class="col-lg-2">
                <div class="panel panel-default">
                             
                    <div class="panel-body">                 
                    </div>
                </div>

            </div>
            <div class="col-lg-1">
                <div class="panel panel-default">
                          
                    <div class="panel-body">                 
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div>
        <div class="panel-heading">
            <div class="col-lg-1">
                <div class="panel panel-default">
                             
                    <div class="panel-body">                 
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="panel panel-default">
                               
                    <div class="panel-body">                 
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="panel panel-default">
                               
                    <div class="panel-body">                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
