@model IEnumerable<DomainClasses.Models.MenuItem>
@{
    ViewBag.Title = "Home Page";
}
@*<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">*@
<ul class="nav" id="side-menu">
    @foreach (DomainClasses.Models.MenuItem item in Model)
    {
        if (item.Title == "My")
        {
        <li class="active"><a href="@item.MenuAction">@item.Title</a></li>   
        }
        else
        {
        <li class="nav"><a href="@item.MenuAction">@item.Title</a></li>   
        }
    }

</ul>



@section scripts {
    <script>
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

    </script>
}